<body>
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            
            <form id="customerProfileForm">
                <h3 class="profile">My Profile</h3>
                <div><i class="bi-person-circle profile-icon"></i></div>
                <div class="mb-3">
                    <label for="name" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="name" readonly>
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="name" readonly>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" readonly>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="tel" class="form-control" id="phone" readonly>
                </div>
            </form>
        </div>
    </div>
</div>
</body>